@import '@/assets/styles/base.css';
@import '@/assets/styles/reset.css';

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--primary);
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 100px 0;
}
